	* {
		padding: 0;
		margin: 0;
		box-sizing: border-box;
	}
	
	body {
		background: #F4F4F4;
		font-size: 1px;
	}
	
	li {
		list-style: none;
	}
	
	a {
		text-decoration: none;
	}
	
	#app .tabbar {
		position: fixed;
		bottom: 0;
		width: 100%;
		height: 1.289473rem;
		border-top: 1px solid #b6b6b6;
		background-color: rgba(246, 246, 246, 0.95);
		display: flex;
		align-items: center;
		justify-content: space-around;
		z-index: 99999;
	}
	
	#app .bar-btn-txt {
		display: block;
		font-size: 0.289473rem;
	}
	
	#app .bar-img {
		display: block;
		width: 0.657894rem;
		height: 0.657894rem;
		margin: 0.18421rem auto 0;
		background: url(images/nar_icon.png) no-repeat;
		-webkit-background-size: 25px auto;
		-moz-background-size: 25px auto;
	}
	
	#app .bar-home-img {
		background-position: 0 -75px;
	}
	
	#app .bar-home-img2 {
		background-position: 0 -50px;
		color: #999;
	}
	
	#app .bar-order-img {
		background-position: 0 -25px;
	}
	
	#app .bar-order-img2 {
		background-position: 0 0;
		color: #999;
	}
	
	.colorHome {
		color: #333;
	}
	
	.colorOrder {
		color: #333;
	}
	
	.colorMine {
		color: #333;
	}
	
	.color1 {
		color: #999;
	}
	
	#app .bar-mine-img {
		background-position: 0 -125px;
	}
	
	#app .bar-mine-img2 {
		background-position: 0 -100px;
		color: #999;
	}